<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/custom.css" />

	<script src="~/lib/jquery/jquery.min.js"></script>
	@*The locally installed popper would not work with the drop down button*@
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<header class="text-center text-white">
		<h1 class="bg-primary mt-3 p-3">Cheese Store</h1>

		@* show any message in TempData *@
		@if (TempData["message"] != null)
		{
			<h4 class="bg-success p-2">@TempData["message"]</h4>
		}

		@* show link to Favorites page unless on Favorites page
		@if (!ViewContext.View.Path.Contains("Favorites"))
		{
			var session = new NFLSession(Context.Session);
			<h5 class="bg-info p-2">
				<a asp-controller="Favorites" asp-action="Index" class="text-white">
					@(session.GetName() == null ? "My" : session.GetName() + "'s")
					Favorite Teams
				</a>

		<span class="badge badge-light">@(session.GetMyTeamCount())</span>
		</h5>
		}
		*@
		@if (TempData["currentOrderAmount"] != null)
		{
			<h5 class="bg-info p-2">
				Current Order Amount: @TempData["currentOrderAmount"]
				<a asp-controller="Favorites" asp-action="Index" class="text-white">
					Review and Checkout
				</a>
			</h5>
		}
	</header>
	<main>
		@RenderBody()
	</main>
</body>
</html>
