@*https://github.com/BryanLitscher/cis174-Final-Project
	https://cs174finalprojectlitscher.azurewebsites.net/*@

@model ProductListViewModel

@{

	ViewData["Title"] = "Index";
	var route = this.ViewContext.RouteData;
}


	<div class="row mx-3">
		<div class="col-sm-3">
			<h3>Color</h3>
			<div class="list-group">
				@for (int i = 0; i < @Model.Appearance.Count; i++)
				{
					<a class="list-group-item @((@Model.Appearance[i].AppearanceID == @Model.ActiveAppearance) ? "active" : "")"
					   asp-controller="home"
					   asp-action="index"
					   asp-route-AppearanceID="@Model.Appearance[i].AppearanceID"
					   asp-route-HardnessID=@Model.ActiveTexture>@Model.Appearance[i].Color</a>
				}
			</div>
			<h3>Texture</h3>
			<div class="list-group">
				@for (int i = 0; i < @Model.Moisture.Count; i++)
				{
					<a class="list-group-item @((@Model.Moisture[i].HardnessID == @Model.ActiveTexture) ? "active" : "")"
					   asp-controller="home"
					   asp-action="index"
					   asp-route-AppearanceID=@Model.ActiveAppearance
					   asp-route-HardnessID="@Model.Moisture[i].HardnessID">@Model.Moisture[i].Moisture</a>
				}
			</div>
		</div>



		<div class="col-sm-9">
			<form asp-action="Add" method="post">
				@if (route.Values["AppearanceID"] == null)
				{
					<input type="hidden" name="ActiveAppearance" value="all" />
				}
				else
				{
					<input type="hidden" name="ActiveAppearance" value="@route.Values["AppearanceID"]" />
				}


				@if (route.Values["HardnessID"] == null)

				{
					<input type="hidden" name="ActiveTexture" value="all" />
				}
				else
				{
					<input type="hidden" name="ActiveTexture" value="@route.Values["HardnessID"]" />
				}




				<div class="card-deck">

					@for (int i = 0; i < @Model.Products.Count; i++)
					{
						//https://www.codeply.com/go/nIB6oSbv6q
						if (i % 2 == 0)
						{
							<div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
						}
						if (i % 3 == 0)
						{
							<div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
						}
						if (i % 4 == 0)
						{
							<div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
						}
						if (i % 5 == 0)
						{
							<div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>
						}
						<div class="card border-dark mx-1" style="width: 18rem;">
							<img class="card-img-top" src="~/images/@Model.Products[i].ImageFile" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">@Model.Products[i].productName</h5>
								<p class="card-text">@Model.Products[i].productDesc</p>
								<ul>
									<li>Weigth: 2.5 lb</li>
									<li>Price: @Model.Products[i].productPrice.ToString("c2")</li>
								</ul>
							</div>
							<div class="card-footer row">
								<button type="submit" name="SelectedProductID" value=@Model.Products[i].productID class="btn btn-primary ">
									@((Model.Products[i].quantityOrdered > 0) ? "More" : "Order")
									<span class="badge badge-pill">@((Model.Products[i].quantityOrdered>0)? Model.Products[i].quantityOrdered.ToString() : "")</span>
								</button>
								@if (Model.Products[i].quantityOrdered > 0)
								{
									<button type="submit" name="SelectedProductID" value=@(Model.Products[i].productID * -1 ) class="btn btn-outline-secondary ">
										Remove
									</button>
								}
							</div>
						</div>
					}
				</div>
			</form>
		</div>
	</div>








